@{
    ViewBag.Title = "Login";
}

<div class="jumbotron">
    <div class="container">
        <span class="glyphicon glyphicon-list-alt"></span>
        <h2>Restaurant Poll</h2>
        <div class="box">
            <input id="user" type="text" placeholder="Usuário" class="fields" />
            <input id="password" type="password" placeholder="Senha" class="fields" />
            <button class="btn btn-default full-width"><span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
</div>